html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  margin: 2em;
  padding: 1em;
  border-radius: 3px;
}

.form {
  width: 100%;
}

.form-field {
  width: 100%;
}

.child-container {
  padding: 1em;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
}
